Repository djungelorm/suplalite: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        stages: [pre-commit, pre-push]
      - id: black
        stages: [manual]
        args: ["--check"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env/bin/mypy
        language: system
        types: [python]
        args: ["suplalite", "tests"]
        files: "\\.py$"
        pass_filenames: false
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env/bin/pylint
        language: system
        types: [python]
        args: [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
        files: "(suplalite|tests)/.+\\.py$"
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: env/bin/pytest
        language: system
        types: [python]
        args: [
          "--cov",
          "--cov-report=html:htmlcov",
          "--cov-fail-under=100",
          "-n", "auto", # Run in parallel
        ]
        files: "\\.py$"
        pass_filenames: false

Remove async where unnecessary
  suplalite/server/__init__.py
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

Add get_channel_by_name
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

typ -> type
  suplalite/device/__init__.py
  suplalite/proto.py
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

Improve error handling for execute_action, persist dimmer brightness setting when toggling off then on
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

Fix channel number check in calcfg
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Fix server example
  examples/server.py
Due: mypy, pytest

Add README
  README.md
Due: none

Fix type hints
  tests/server_test.py
Due: mypy, pylint, pytest

Add pip install to readme
  README.md
Due: none

Fix channel id
  examples/device.py
Due: mypy, pytest

Fix updating last_value for dimmer state
  suplalite/server/state.py
Due: mypy, pylint, pytest

Fix DeviceFlag
  suplalite/device/__init__.py
  suplalite/proto.py
  tests/proto_test.py
  tests/server_test.py
Due: mypy, pylint, pytest

Clean up RegisterClientResult
  suplalite/proto.py
  suplalite/server/handlers.py
  tests/proto_test.py
Due: mypy, pylint, pytest

Clean up RegisterClientResult
  examples/client.py
  suplalite/proto.py
  suplalite/server/handlers.py
  tests/proto_test.py
Due: mypy, pylint, pytest

Fix enum types
  suplalite/proto.py
Due: mypy, pylint, pytest

Add RelayFlag
  suplalite/proto.py
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Improve channel flags
  examples/server.py
  suplalite/proto.py
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/encoding_test.py
  tests/server_test.py
Due: mypy, pylint, pytest

Remove commented code
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Fix IntFlag printing
  suplalite/proto.py
  suplalite/utils.py
  tests/server_test.py
  tests/utils_test.py
Due: mypy, pylint, pytest

Allow passing "extra" arguments to events
  suplalite/server/__init__.py
  suplalite/server/handlers.py
  tests/server_test.py
Due: mypy, pylint, pytest

Make device on_change handlers async
  suplalite/device/channels.py
Due: mypy, pylint, pytest

Remove create_supla_device
  suplalite/device/__init__.py
Due: mypy, pylint, pytest

Remove unused property
  suplalite/device/__init__.py
Due: mypy, pylint, pytest

Factor out common test fixtures
  tests/conftest.py
  tests/server_test.py
Due: mypy, pylint, pytest

Add device test
  tests/device_test.py
Due: mypy, pylint, pytest

Configure log format for pytest log capture
  pyproject.toml
Due: none

Improve logging, add error handling for api
  examples/device.py
  examples/server.py
  suplalite/device/__init__.py
  suplalite/logging.py
  suplalite/server/__init__.py
  suplalite/server/api.py
  suplalite/server/context.py
  tests/conftest.py
  tests/server_test.py
Due: mypy, pylint, pytest

Clean up device code, add tests
  examples/device.py
  suplalite/device/__init__.py
  suplalite/device/channels.py
  suplalite/server/handlers.py
  tests/conftest.py
  tests/device_test.py
  tests/server_test.py
Due: mypy, pylint, pytest

Add pypi metadata
  pyproject.toml
Due: none

Update readme
  README.md
Due: none

Add more thorough testing of device messages, add REQUEST and RESPONSE server events
  suplalite/server/__init__.py
  suplalite/server/events.py
  tests/device_test.py
Due: mypy, pylint, pytest

Improve channel value encoding/decoding
  suplalite/device/channels.py
  suplalite/encoding.py
  suplalite/proto.py
Due: mypy, pylint, pytest

Catch network exceptions when sending
  suplalite/packets.py
Due: mypy, pylint, pytest

Add dimmer decode/encode
  suplalite/device/channels.py
  tests/device_test.py
Due: mypy, pylint, pytest

Use channel decoders to get values
  examples/server.py
Due: mypy, pytest

Fix inconsistent repr for IntFlag between python versions
  suplalite/utils.py
  tests/device_test.py
  tests/utils_test.py
Due: mypy, pylint, pytest

Set proto version of device to the minimum required by its channels
  suplalite/device/__init__.py
  suplalite/device/channels.py
  suplalite/packets.py
  suplalite/server/__init__.py
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Fix empty batches
  suplalite/server/handlers.py
  suplalite/utils.py
  tests/utils_test.py
Due: mypy, pylint, pytest

Add scenes
  examples/server.py
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/conftest.py
  tests/server_test.py
Due: mypy, pylint, pytest

Fix import
  examples/server.py
Due: mypy, pytest
