Repository djungelorm/suplalite: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        stages: [pre-commit, pre-push]
      - id: black
        stages: [manual]
        args: ["--check"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: env/bin/mypy
        language: system
        types: [python]
        args: ["suplalite", "tests"]
        files: "\\.py$"
        pass_filenames: false
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env/bin/pylint
        language: system
        types: [python]
        args: [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
        files: "(suplalite|tests)/.+\\.py$"
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: env/bin/pytest
        language: system
        types: [python]
        args: [
          "--cov",
          "--cov-report=html:htmlcov",
          "--cov-fail-under=100",
          "-n", "auto", # Run in parallel
        ]
        files: "\\.py$"
        pass_filenames: false

Add license
  LICENSE
Due: none

Add CI pipeline
  .github/workflows/ci.yml
Due: none

Avoid TypeAlias
  suplalite/encoding.py
Due: mypy, pylint, pytest

Generate server cert for tests
  .github/workflows/ci.yml
Due: none

Remove python 3.9
  .github/workflows/ci.yml
Due: none

Run with one job in CI
  .github/workflows/ci.yml
Due: none

Python 3.11 fixes
  suplalite/network.py
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Fix issues with closing streams
  suplalite/device/__init__.py
  suplalite/packets.py
  suplalite/server/__init__.py
  tests/packets_test.py
  tests/server_test.py
Due: mypy, pylint, pytest

Fix ordering of eof check with ssl streams
  suplalite/packets.py
Due: mypy, pylint, pytest

Fix ssl errors leaking out of event handers and connection closing
  suplalite/packets.py
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Fix coverage
  suplalite/packets.py
Due: mypy, pylint, pytest

Update project config
  pyproject.toml
Due: none

Fix eof behaviour for packet streams
  suplalite/packets.py
Due: mypy, pylint, pytest

Disable secure tests
  tests/server_test.py
Due: mypy, pylint, pytest

Fix getpeername not necessarily returning a 2-tuple
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Re-enable testing secure connections
  tests/server_test.py
Due: mypy, pylint, pytest

Handle connection reset error
  suplalite/network.py
Due: mypy, pylint, pytest

Remove unused field
  examples/client.py
Due: mypy, pytest

Clean up example main loops
  examples/client.py
  examples/device.py
  examples/server.py
Due: mypy, pytest

Fix typo
  examples/device.py
Due: mypy, pytest

Fix async methods
  examples/client.py
Due: mypy, pytest

Add oauth requests to example client
  examples/client.py
Due: mypy, pytest

Fix device ssl context
  suplalite/device/__init__.py
Due: mypy, pylint, pytest

Fix max size check for packed arrays
  suplalite/encoding.py
Due: mypy, pylint, pytest

Improve error logging for event handlers
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Make example device use secure port
  examples/device.py
Due: mypy, pytest

Fix oauth token field
  suplalite/proto.py
Due: mypy, pylint, pytest

Fix shutdown of secure server
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Clean up getting ports
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Fix context not being replaced if call handler raises an exception, which causes device not to be removed when it disconnects
  suplalite/server/__init__.py
Due: mypy, pylint, pytest

Make device example auto reconnect
  examples/device.py
Due: mypy, pytest

Handle connection refused in device
  suplalite/device/__init__.py
Due: mypy, pylint, pytest

Fix channel number check
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Add support for custom icons
  examples/car.png
  examples/device.py
  examples/green.png
  examples/red.png
  examples/server.py
  pyproject.toml
  suplalite/server/__init__.py
  suplalite/server/api.py
  suplalite/server/handlers.py
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

Allow any api version number
  suplalite/server/api.py
Due: mypy, pylint, pytest

Improve get icons api
  suplalite/server/api.py
  suplalite/server/state.py
  tests/server_test.py
Due: mypy, pylint, pytest

Remove debug printing
  suplalite/server/handlers.py
Due: mypy, pylint, pytest

Refactor to improve logging config, and break cyclic dependency
  examples/server.py
  suplalite/server/__init__.py
  suplalite/server/context.py
  suplalite/server/handlers.py
  tests/server_test.py
Due: mypy, pylint, pytest

Add dimmer channel value
  suplalite/proto.py
Due: mypy, pylint, pytest

Improve error messages
  suplalite/server/handlers.py
  tests/server_test.py
Due: mypy, pylint, pytest
